.crear-producto-form {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 2 columnas por fila */
  gap: 15px; /* Espacio entre los inputs */
  width: 100%;
}

.crear-producto-form input,
.crear-producto-form select {
  width: 90%; /* Que los inputs ocupen todo el ancho disponible */
  padding: 10px;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.crear-producto-actions {
  grid-column: span 2; /* Hace que los botones ocupen toda la fila */
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.crear-producto-actions button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

.crear-producto-actions button[type="button"] {
  background-color: #f44336;
}
