.img-gorila-login{
    width: 10%;
}

.body-login{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.inputs-mui-login{
    margin-top: 10px;
    margin-bottom: 10px;
}

.body-login button{
    background-color: var(--color-primary-400);
    color: var(--color-primary-100);
    padding: 10px;
    width: 17%;
    border-radius: 3px;
    border: none;
}