.body-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: #f0f2f5;
    font-family: 'Arial', sans-serif;
  }
  
  .login-container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
  }
  
  .img-gorila-login {
    width: 100px;
    margin-bottom: 20px;
  }
  
  .login-title {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .inputs-mui-login {
    margin-bottom: 20px;
  }
  
  .checkbox-label {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    color: #555;
  }